!HELP.md
!.gradle
!build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/
!gradlew
!gradlew.bat
!**/src/main/**/build/
!**/src/test/**/build/

checksums.lock
sha1-checksum.bin
fileHashes.bin
fileHashes.lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
demo-0.0.1-SNAPSHOT.jar
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
